<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catBOS catLSI catPIV catGraphics">All</span></li>
            <li><span class="filter" data-filter="catBOS">Flow visulization Around Fire</span></li>
            <li><span class="filter" data-filter="catLSI">MicroVascular Flow Visulization</span></li>
            <li><span class="filter" data-filter="catPIV">Raspeberry PI based PIV</span></li>
            <li><span class="filter" data-filter="catGraphics">Computer aided Visulizations</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catLSI" data-cat="catLSI">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    
                    <a href="#LSI" rel="portfolio" title="Laser Speckle Optical Flow Imaging ">
                        <img src="images/portfolio/FB_socal.tiff" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Laser Speckle Optical Flow Imaging </a>
                                
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            
            
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catPIV" data-cat="catPIV">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="#LSI" rel="portfolio">

                        <img src="images/portfolio/2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

                


            <!-- .portfolio -->
            <div class="portfolio catBOS" data-cat="catBOS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="LSI" rel="portfolio">
                        <img src="images/portfolio/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphics" data-cat="catGraphics">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/4.jpg" rel="portfolio">
                        <img src="images/portfolio/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            
               
            

            

            

            

            

            

            

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
     
</div>


<!-- Page Blog - Post 2 -->
            <section id="LSI" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                </div>

                            </div>

                            <div class="title_content">
                                <div class="text_content">Application of optical flow algorithms to laser speckle imaging</div>
                                <div class="clear"></div>
                            </div>


                           
                            <p>Since of its introduction in 1980s, laser speckle imaging has become a powerful tool in flow imaging.
                            Its high performance and low cost made it one of the preferable imaging methods.
                            Initially, speckle contrast measurements were the main algorithm for analyzing laser speckle images in biological flows.
                            Speckle contrast measurements, also referred as Laser Speckle Contrast Imaging (LSCI), use statistical properties of speckle patterns to create mapped image of the blood vessels.
                            In this communication, a new method named Laser Speckle Optical Flow Imaging (LSOFI) is introduced.
                            This method uses the optical flow algorithms to calculate the apparent motion of laser speckle patterns.
                            The differences in the apparent motion of speckle patterns are used to identify the blood vessels from surrounding tissue.
                            LSOFI has better spatial and temporal resolution compared to LSCI.
                            This higher spatial resolution enables LSOFI to be used for autonomous blood vessels detection.
                            Furthermore, Graphics Processing Unit (GPU) based LSOFI can be used for quasi real time imaging.</p>

                                <div class="clear"></div>      


                                <div class="about_author">
                                    <div class="title_content" style="margin-bottom:10px">
        
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>


                                    <div class="prg_content">
                                        <img src="https://ars.els-cdn.com/content/image/1-s2.0-S0026286218X00028-cov150h.gif" alt="img">

                                        <div class="text">
                                            Aminfar, A., Davoodzadeh, N., Aguilar, G., & Princevac, M. (2019).
                                            Application of optical flow algorithms to laser speckle imaging. Microvascular Research, 122, 52–59.
                                            https://doi.org/10.1016/j.mvr.2018.11.001
                                        </div>

                                        <div class="nb_post" style="margin-top: 10px;">
                                            <b id="nb_post"> 15 posts</b> created by author
                                        </div>
                                    </div>

                                    <div class="clear"></div>
                                </div>

                                <div class="clear"></div>      


                                

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <!-- End Page Blog - Post 2 -->
<!-- End .portfolio -->