<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catBOS catLSI catPIV catGraphics">All</span></li>
            <li><span class="filter" data-filter="catBOS">Flow visulization Around Fire</span></li>
            <li><span class="filter" data-filter="catLSI">MicroVascular Flow Visulization</span></li>
            <li><span class="filter" data-filter="catPIV">Raspeberry PI based PIV</span></li>
            <li><span class="filter" data-filter="catGraphics">Computer aided Visulizations</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catLSI" data-cat="catLSI">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    
                    <a href="#LSI" rel="portfolio" title="Laser Speckle Optical Flow Imaging ">
                        <img src="images/portfolio/FB_socal.jpg" alt="LSI" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Laser Speckle Optical Flow Imaging </a>
                                
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            
            
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catPIV" data-cat="catPIV">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="#LSI" rel="portfolio">

                        <img src="images/portfolio/2.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

                


            <!-- .portfolio -->
            <div class="portfolio catBOS" data-cat="catBOS">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="#BOS" rel="portfolio">
                        <img src="images/portfolio/3.jpg" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catGraphics" data-cat="catGraphics">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="images/portfolio/4.jpg" rel="portfolio">
                        <img src="images/portfolio/4.jpg" alt="Typography Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                                <span class="text-category">Motion Graphic</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>	
            <!-- /.portfolio -->

            <!-- .portfolio -->
            
               
            

            

            

            

            

            

            

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
     
</div>


<!-- Page Blog - Post 2 -->
            <section id="LSI" class="content-post" style="display: none">
                
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">

                                
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/portfolio/FB_socal.jpg" width= 278 height= 278 alt="" ,align="middle">
                                                    <div class="carousel-caption">
                                                
                                                    </div>
                                                </div>


                                             </div>

                                        </div>
                                    </div>

                            </div>

                            <div class="title_content">
                                <div class="text_content">Application of optical flow algorithms to laser speckle imaging</div>
                                <div class="clear"></div>
                            </div>


                           
                            <p>Since of its introduction in 1980s, laser speckle imaging has become a powerful tool in flow imaging.
                            Its high performance and low cost made it one of the preferable imaging methods.
                            Initially, speckle contrast measurements were the main algorithm for analyzing laser speckle images in biological flows.
                            Speckle contrast measurements, also referred as Laser Speckle Contrast Imaging (LSCI), use statistical properties of speckle patterns to create mapped image of the blood vessels.
                            In this communication, a new method named Laser Speckle Optical Flow Imaging (LSOFI) is introduced.
                            This method uses the optical flow algorithms to calculate the apparent motion of laser speckle patterns.
                            The differences in the apparent motion of speckle patterns are used to identify the blood vessels from surrounding tissue.
                            LSOFI has better spatial and temporal resolution compared to LSCI.
                            This higher spatial resolution enables LSOFI to be used for autonomous blood vessels detection.
                            Furthermore, Graphics Processing Unit (GPU) based LSOFI can be used for quasi real time imaging.</p>

                                <div class="clear"></div>      


                                <div class="about_author">
                                    <div class="title_content" style="margin-bottom:10px">
        
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>


                                    <div class="prg_content">
                                        <img src="https://ars.els-cdn.com/content/image/1-s2.0-S0026286218X00028-cov150h.gif" alt="img">

                                        <div class="text">
                                            Aminfar, A., Davoodzadeh, N., Aguilar, G., & Princevac, M. (2019).
                                            Application of optical flow algorithms to laser speckle imaging. Microvascular Research, 122, 52–59.
                                            https://doi.org/10.1016/j.mvr.2018.11.001
                                        </div>

                                        <div class="nb_post" style="margin-top: 10px;">
                                            <a href="https://www.sciencedirect.com/science/article/pii/S0026286218302164">Full Paper</a>
                                        </div>
                                    </div>

                                    <div class="prg_content">
                                        <img src="images/portfolio/GitHub_Logo.png" alt="img">

                                        <div class="text">
                                            A Sample Code of LSOFI is Available at My Github Repository. Feel free to Contact me for access 
                                        </div>

                                        <div class="nb_post" style="margin-top: 10px;">
                                            
                                        </div>
                                    </div>

                                    
                                    <div class="clear"></div>
                                </div>

                                <div class="clear"></div>      


                                

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            
            <!-- End Page Blog - Post 2 -->
            
            <!-- Page Blog - Post 3 -->
            <section id="BOS" class="content-post" style="display: none">
                
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">

                                
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    
                                                    <video id="sampleMovie" src="images/portfolio/2.mp4" controls></video>
                                                    <img src="images/portfolio/FB_socal.jpg" width= 278 height= 278 alt="" ,align="middle">
                                                    <div class="carousel-caption">
                                                
                                                    </div>
                                                </div>


                                             </div>

                                        </div>
                                    </div>

                            </div>

                            <div class="title_content">
                                <div class="text_content">Convective Plume Visualization of Propagating Fire in Vegetative Fuel Bed Using Background Oriented Schlieren (BOS)</div>
                                <div class="clear"></div>
                            </div>


                           
                            <p>Heat transfer is very important in wildland fire spread.
                            Recent findings have shown that fire will not spread without the presence of convective heat transfer.
                            Unlike radiation, there is no direct method of measuring convection.
                            Since convective heat transfer is governed by the fluid flow,
                            understanding the fluid flow provides good understanding on the convective heat transfer.
                            In fluid mechanics, flow visualization is a common methodology to understand the flow characteristics in various condition.
                            Schlieren photography is a common flow visualization technique which captures changes in density such as the ones around a fire.
                            Background-Oriented Schlieren (BOS) is a flow visualization technique which uses background with various patterns to visualize the density gradient caused by density fluctuations in the fluid.
                            The initial result of BOS makes it possible to visualize the flow around the flame. Afterwards, the visualized flow can be processed to obtain the velocity structure of the flow.
                            In this paper, BOS technique is used to visualize and characterize turbulent properties of a fire as it propagates in a solid vegetative fuelbed.
                            The wind pushes the thermal plume ahead of the flame front, this is in contrast with the condition that no wind is present, in which thermal plume is attached to the fire.
                            At last, a model for calculation of convective heat transfer from BOS data is introduced as well. This calculation shows that the presence of wind enhances convective heat transfer..</p>

                                <div class="clear"></div>      


                                <div class="about_author">
                                    <div class="title_content" style="margin-bottom:10px">
        
                                        <div class="clear"></div>
                                    </div>

                                    <div class="clear"></div>


                                    <div class="prg_content">
                                        <img src="" alt="img">

                                        <div class="text">
                                            
                                        </div>

                                        <div class="nb_post" style="margin-top: 10px;">
                                            <a href="">Full Paper</a>
                                        </div>
                                    </div>

                                    <div class="clear"></div>
                                </div>

                                <div class="clear"></div>      


                                

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
<!-- End .portfolio -->